<!DOCTYPE html>
<html lang="en">
<head>
    <title>BrewControl</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-app="brewControl" layout="column" ng-controller="UserController as ul">

<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button class="md-icon-button">
            <md-icon>menu</md-icon>
        </md-button>

        <h2>
            <span>Kühlschrank Steuerung</span>
        </h2>
    </div>
</md-toolbar>
<md-content layout="column" layout-fill ng-controller="FridgeCtrl">
    <md-whiteframe class="md-whiteframe-z2">
        <md-switch ng-model="data.coolerEnabled" ng-disabled="data.coolerEnabled === undefined">Kühlung freigegeben
        </md-switch>
        <md-switch ng-model="data.heaterEnabled" ng-disabled="data.heaterEnabled === undefined">Heizung freigegeben
        </md-switch>
    </md-whiteframe>
    <md-whiteframe class="md-whiteframe-z2 md-padding">
        <div ng-repeat="t in temperatures">
            <div>{{ t.value | number : 2 }}°C {{ t.name }}</div>
        </div>
    </md-whiteframe>
</md-content>

<script src="./bower_components/underscore/underscore-min.js"></script>
<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>

<script src="./src/users/Users.js"></script>
<script src="./src/users/UserController.js"></script>
<script src="./src/users/UserService.js"></script>

<script type="text/javascript">

    angular
            .module('brewControl', ['ngMaterial', 'users'])
            .config(function ($mdThemingProvider) {

                $mdThemingProvider.theme('default')
                        .primaryPalette('brown')
                        .accentPalette('red');

            });
    angular
            .module('brewControl')
            .controller('FridgeCtrl', function ($scope, $http) {
                $scope.data = {}

                _.each(['coolerEnabled', 'heaterEnabled'], function (e) {
                    var url = "/" + e;
                    $http.get(url).then(function (response) {
                        $scope.data[e] = (response.data === 'true');

                        $scope.$watch('data.' + e, function (newValue, oldValue) {
                            if (newValue === oldValue) return;
                            $http.post(url, newValue);
                        });
                    });
                });

                $http.get("/temperatures").then(function (response) {
                    $scope.temperatures = response.data;
                });
            });

</script>

</body>
</html>
