<!DOCTYPE html>
<html lang="en">
<head>
    <title>BrewControl</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="./bower_components/rickshaw/rickshaw.min.css">
    <link rel="stylesheet" href="assets/app.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        .relayLabel {
            padding: 5px;
            margin: 5px;
        }

        .relayLabel.active {
            border: solid 2px #F44336;
            background-color: #E57373;
        }

        .relayLabel.inactive {
            border: solid 2px #9E9E9E;
            background-color: #E0E0E0;
        }

        #chartContainer {
        }

        #chart {
            width: auto;
            overflow: hidden;
        }

        #yAxis {
            float: left;
            width: 40px;
        }

        #legend {
            margin: 15px;
        }

        .MashCtrl .task {
            padding: 0 6px;
        }

        .MashCtrl .task.selected {
            padding: 6px;
            background-color: #E57373;
            border: solid 2px #F44336;
        }
    </style>
</head>

<body ng-app="brewControl" layout="column">

<div ng-controller="FridgeCtrl" class="FridgeCtrl">
    <md-content layout="column">

        <md-whiteframe class="md-whiteframe-z2 md-padding">
            <div layout="column" layout-align="center center">
                <div>
                    <div ng-repeat="t in temperatures">
                        <div>{{ t.value | number : 2 }}°C {{ t.name }}</div>
                    </div>
                </div>
            </div>
        </md-whiteframe>

        <md-whiteframe class="md-whiteframe-z2 md-padding">
            <div layout="row" layout-align="center">
                <div ng-repeat="e in relays">
                    <div ng-class="{'relayLabel': true, 'active': e.value, 'inactive': !e.value}">{{ e.name }}
                    </div>
                </div>
            </div>
        </md-whiteframe>

        <md-whiteframe class="md-whiteframe-z2">
            <div layout="row" layout-align="space-around center">
                <div>Zieltemperatur {{ data.targetTemperature }}°C</div>
                <md-button class="md-raised"
                           ng-click="data.showEditTargetTemperature = !data.showEditTargetTemperature">Ändern
                </md-button>
            </div>
            <div layout="row" ng-show="data.showEditTargetTemperature">
                <md-slider flex min="0" max="25" ng-model="data.targetTemperature"></md-slider>
            </div>
            <div layout="column" layout-align="center center">
                <md-switch ng-model="data.coolerEnabled" ng-disabled="data.coolerEnabled === undefined">Kühlung
                    freigegeben
                </md-switch>
                <md-switch ng-model="data.heaterEnabled" ng-disabled="data.heaterEnabled === undefined">Heizung
                    freigegeben
                </md-switch>
            </div>
        </md-whiteframe>
    </md-content>
</div>

<div ng-controller="MashCtrl" class="MashCtrl">
    <md-content layout="column">
        <md-whiteframe class="md-whiteframe-z2 md-padding">
            <div>Brauvorgang</div>
            <div layout="row" layout-align="center">
                <div>
                    <div ng-repeat="task in state.tasks">
                        <div ng-class="{'selected' : $index === state.currentTaskIndex}" class="task">
                            <span>{{ $index+1 }}. </span>
                            <span ng-if="task.startTime[0]">{{ task.startTime[0] | date : 'mediumTime'}} </span>
                    <span ng-switch="task.$type">
                        <span ng-switch-when="brewcontrol.HeatTask">Heizen auf {{ task.temperature }}°C</span>
                        <span ng-switch-when="brewcontrol.RestTask">Rasten für {{ (task.durationInMillis / 1000 / 60) | number }} Minuten</span>
                        <span ng-switch-when="brewcontrol.HoldTask">Halten auf {{ task.temperature }}°C bis Überspringen</span>
                        <span ng-switch-default>Unbekannter Typ: {{ task.$type }}</span>
                    </span>
                            <span>{{ tryPrintTaskEndTime(task) }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
                <md-button class="md-raised" ng-click="start()">Start</md-button>
                <md-button class="md-raised" ng-click="skip()">Schritt überspringen</md-button>
                <md-button class="md-raised" ng-click="reset()">Zurücksetzen</md-button>
            </section>
        </md-whiteframe>
    </md-content>
</div>

<div ng-controller="GraphCtrl" class="GraphCtrl">
    <div id="chartContainer">
        <div id="yAxis"></div>
        <div id="chart"></div>
        <div id="legend"></div>
    </div>
</div>

<script src="./bower_components/underscore/underscore-min.js"></script>
<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script src="./bower_components/angular-material/angular-material.js"></script>
<script src="./bower_components/rickshaw/vendor/d3.min.js"></script>
<script src="./bower_components/rickshaw/vendor/d3.layout.min.js"></script>
<script src="./bower_components/rickshaw/rickshaw.min.js"></script>
<script src="./BrewControl.js"></script>

</body>
</html>
