<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!--<logger name="brewcontrol.PidController" level="debug"/>-->
  <!--<logger name="brewcontrol.GpioConnection" level="debug"/>-->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>
    </encoder>
  </appender>
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>
